Jeffery Painter <painter@apache.org> painter <painter@13f79535-47bb-0310-9956-ffa450edef68>
Georg Kallidis <gk@apache.org> gk <gk@13f79535-47bb-0310-9956-ffa450edef68>
Thomas Vandahl <tv@apache.org> tv <tv@13f79535-47bb-0310-9956-ffa450edef68>
Siegfried Goeschl <sgoeschl@apache.org> sgoeschl <sgoeschl@13f79535-47bb-0310-9956-ffa450edef68>
Ludwig Magnusson <ludwig@apache.org> ludwig <ludwig@13f79535-47bb-0310-9956-ffa450edef68>
Scott Eade <seade@apache.org> seade <seade@13f79535-47bb-0310-9956-ffa450edef68>
Georg Kallidis <gk@apache.org> gemkall <georg.kallidis@fu-berlin.de>