## Licensed to the Apache Software Foundation (ASF) under one
## or more contributor license agreements.  See the NOTICE file
## distributed with this work for additional information
## regarding copyright ownership.  The ASF licenses this file
## to you under the Apache License, Version 2.0 (the
## "License"); you may not use this file except in compliance
## with the License.  You may obtain a copy of the License at
##
##   http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing,
## software distributed under the License is distributed on an
## "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
## KIND, either express or implied.  See the License for the
## specific language governing permissions and limitations
## under the License.
$page.setTitle("Workflow Detail View")


<div  class="app">

<h3>Workflow Instance $wf.id</h3>
<form name="main" method="post" action="WorkflowAction">
<div class="axial">
<table cellpadding="3" cellspacing="2" border="0">
<tr><th>Type</th><td>$wf.workflowName</td></tr>
#foreach($action in $wf.getAllAvailableActions())
<tr><th>$action.name</th><td><a href="$link.setAction("WorkflowAction").addPathInfo("eventSubmit_doAction", "foo").addPathInfo("id", $wf.id).addPathInfo("actionId", $action.getId())">$wf.getWorkflowDescriptor().getAction($action.getId()).getName()</A></td></tr>
#end
</table>
</div>
<div class="functnbar2">
&nbsp;
</div>

<h3>Steps</h3>
<form name="main" method="post" action="WorkflowAction">
<div class="axial">
<table cellpadding="3" cellspacing="2" border="0">
<tr>
<th>Step</th>
    <th>Action</th>
    <th>Status</th>
    <th>Owner</th>
    <th>Start Date</th>
    <th>Finish Date</th>
    <th>Previous</th>
</tr>
#foreach($step in $wf.getCurrentSteps())
<tr>
 <th>$wf.getWorkflowDescriptor().getStep($step.getStepId()).getName() ($step.getId())</th>
 <td>$!wf.getWorkflowDescriptor().getAction($step.getActionId()).getName()</td>
 <td>$step.getStatus()</td>
 <td>$step.getOwner()</td>
 <td>$step.getStartDate() </td>
 <td>$!step.getFinishDate()</td>
 </td>
</tr>
#end

#foreach($step in $wf.historySteps)
<tr>
 <th>$wf.getWorkflowDescriptor().getStep($step.getStepId()).getName() ($step.getId())</th>
 <td>$!wf.getWorkflowDescriptor().getAction($step.getActionId()).getName()</td>
 <td>$step.getStatus()</td>
 <td>$step.getOwner()</td>
 <td>$step.getStartDate() </td>
 <td>$!step.getFinishDate()</td>
 </td>
</tr>
#end
</table>
</div>
<div class="functnbar2">
&nbsp;
</div>

</form>




